* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body > header {
        background-color: #2f3640;
        padding: 16px 0;
        color: aliceblue;
    }

    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header li {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 16px;
    }

    header li a {
        color: aliceblue;
        text-decoration: none;
    }

    header li a:hover{
        text-decoration: underline;
    }

    .container{
        width: 1366px;
        margin: 0 auto;
    }

    .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .articles article img{
        /*height: 180px;*/
        width: 100%;
    }

    .articles article {
        width: 30%;
    }

    section {
        padding: 16px 0;
    }

    section h2,
    .articles article {
        margin-bottom: 16px;
    }

    section h2 {
        font-size: 32px;
    }

    .articles article h3{
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 24px;
    }

    .articles article a {
        background-color: blue;
        color: white;
        padding: 8px;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-top: 8px;
    }

    .articles article a:hover {
        text-decoration: underline;
    }

    .articles article p,
    .articles article a {
        font-family: Arial, Helvetica, sans-serif;
    }

    #sports {
        background-color: rgba(0, 255, 0, 0.1);
    }

    #sports .articles article a {
        background-color: green;

    }

    #economy {
        background-color: #f5f4d1
    }

    #economy .articles article a {
        background-color: orange;
    }

    #entertainment {
        background-color: rgb(210, 248, 248);
    }

    #entertainment .articles article a {
        background-color: rgb(53, 118, 238);
    }

    #tecnology {
        background-color: rgb(237, 217, 245);
    }

    #tecnology .articles article a {
        background-color: rgb(154, 78, 224);
    }